[Unit]
Description=MUBMI Process ${name}
Before=dhcpcd5.service

[Service]
User=${username}
Environment=PYTHONPATH=${python_root}
WorkingDirectory=${python_root}
Environment=GLOG_log_dir=/tmp/log/${log_name}
Environment=GLOG_alsologtostderr=1
${extra_environments}
ExecStartPre=/bin/mkdir -p /tmp/log/${log_name}
${exec_start_pre}
ExecStart=${python_executable} ${filename}
KillMode=${kill_mode}
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
